img{max-width: 100%;height: auto;}
.flex{display:flex;}
.main-heading {
    color: #b40000;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 2rem;
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
    .flex{display:block;}
    .main-heading{color:blue}
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
    
}

/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {
    
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {
    
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (max-width: 1400px) {
    
}